.font-size-large{
    font-weight:1rem;
}
.font-size-small{
    font-size:0.75rem;
}
.font-size-2x{
    font-size:$font-size-base*2;
}
.font-weight-base{
    font-weight:$font-size-base;
}
.font-weight-medium{
    font-weight: 500;
}
.font-weight-bold{
    font-weight:600;
}