.box_detail_video {
    display: flex;
    margin-bottom: 15px;
}
.box_detail_video_left {
    float: left;
    width: calc( 100% - 370px );
}
.box_detail_video_right {
    float: right;
    width: 370px;
    background-color: #FFF;
    flex-grow: 1;
}
.box_detail_video_leftMenu {
    height: 70px;
    background-color: rgba(255,255,255,0.1);
}
.box_detail_video_lm {
    margin: 0;
    padding: 0;
}
.box_detail_video_lm li {
    list-style: none;
    float: left;
}
.box_detail_video_lm li a {
    display: block;
    padding: 0 20px;
    color: #FFF;
    font-size: 20px;
    line-height: 70px;
    font-weight: 600;
}
.box_detail_video_lm li a.active, .box_detail_video_lm li a:hover {
    color: #ffeb3c;
}
.box_detail_video_leftMenu {
    height: 70px;
    background-color: rgba(255,255,255,0.1);
}
.box_detail_video_text {
    line-height: 70px;
    color: #FFF;
    font-size: 16px;
    padding: 0 20px;
}
.box_detail_video_banner {
    height: 70px;
    background-color: #d8d8d8;
}
.box_detail_video_text{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
#st-1 .st-total {
    color: #555;
    display: inline-block;
    font-weight: 500;
    line-height: 12px;
    margin-right: 0;
    max-width: 80px;
    padding: 4px 8px;
    text-align: center;
}
#st-1 .st-btn[data-network='facebook'] {
    background-color: #4267B2;
}
#st-1 .st-btn {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: opacity 0.2s ease-in, top 0.2s ease-in;
    -ms-transition: opacity 0.2s ease-in, top 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in, top 0.2s ease-in;
    -webkit-transition: opacity 0.2s ease-in, top 0.2s ease-in;
    transition: opacity 0.2s ease-in, top 0.2s ease-in;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    height: 32px;
    line-height: 32px;
    margin-right: 0;
    padding: 0 8px;
    position: relative;
    text-align: center;
    top: 0;
    vertical-align: top;
    white-space: nowrap;
}
#st-1.st-has-labels .st-btn {
    min-width: 120px;
}
#st-1 .st-btn:last-child {
    margin-right: 0;
}
#st-1 .st-total > span {
    font-size: 16px;
    line-height: 17px;
    display: block;
    padding: 0;
}
#st-1 .st-total > span.st-shares {
    font-size: 9px;
    line-height: 9px;
}
#st-1 .st-btn > img {
    display: inline-block;
    height: 16px;
    width: 16px;
    position: relative;
    top: 8px;
    vertical-align: top;
}
#turnOffChat {
    margin-left: 10px;
}
.btn {
    outline: 0;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 13px;
    line-height: 1.15384615;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    height: 32px;
}
#st-1 {
    display: flex;
}