.box_timeList {
    margin-bottom: 40px
}

.box_timeList_title {
    height: 51px;
    line-height: 51px;
    font-size: 16px;
    padding: 0 50px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    color: #ffffff;
    background-color: #2b315d;
}

.box_timeList_title .ic_expandarrow {
    float: right;
    margin-top: 17px
}

.box_timeList_title.active .ic_expandarrow {
    transform: rotate(0deg)
}

;

.ic_expandarrow {
    width: 24px;
    height: 15px;
    background: transparent url('../images/expand-arrow-copy.svg') no-repeat center center;
    display: inline-block;
    vertical-align: middle;
    transform: rotate(180deg);
}

.box_timeList_table {
    padding: 0 40px
}

.box_timeList_title {
    padding: 0 25px
}

.t_info {
    line-height: 58px;
    line-height: 58px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 255px
}

.t_name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0 15px
}

.t_time {
    width: 170px;
    padding: 2px 13px
}

.t_co {
    padding: 6px 10px 7px;
    width: 64px
}

.t_vs {
    line-height: 58px;
    width: 45px;
    font-size: 18px;
    font-weight: 600;
}

.box_timeList_table_ul li.active .t_info,
.box_timeList_table_ul li.active .t_vs {
    background-color: #ebebeb
}

.t_btn {
    width: 155px;
    padding: 7px 15px 10px 15px;
    float: right;
    display: flex;
    flex-direction: row;
    a+a{
        margin-left: 5px;
    }
}

.btn_view {
    width: 100%
}

.btn_border {
    width: 100%;
    line-height: 40px;
    height: 40px;
    display: block;
    border-radius: 4px;
    border: solid 1px #000000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.btn_border:hover {
    color: #000;
}

.box_timeList_table {
    padding: 0 50px;
    background-color: #FFF;
    overflow: hidden
}

.t_time {
    font-size: 20px;
    width: 200px;
    float: left;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.95);
}

.box_timeList_table_ul {
    margin: 0;
    padding: 0
}

.box_timeList_table_ul li {
    display: flex;
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
}

.box_timeList_table_ul li:last-child {
    border: none
}

.t_co {
    float: left;
    width: 60px;
    text-align: center
}

.t_vs {
    float: left;
    width: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.3);
}

.t_btn {
    float: left;
    width: 135px
}

.t_info {
    float: left;
    width: 203px
}

.t_name {
    font-size: 20px;
    margin-bottom: 4px;
    display: block;
    padding: 0 10px;
    font-weight: 500;
    color: #000000;
}

.t_time_num_dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%
}

.t_name span {
    display: inline-block;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: #ff0026;
    border-radius: 4px;
    border: solid 1px #ff0026;
}

.t_name:hover {
    color: #000
}

.t_vs_num {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.t_text {
    font-size: 16px;
    color: #000000;
}

.t_timeRun .t_time_num {
    color: #2ebb2e
}

.t_timeRun .t_time_num .t_time_num_dot {
    background-color: #2ebb2e;
    -webkit-animation: my 700ms infinite;
    -moz-animation: my 700ms infinite;
    -o-animation: my 700ms infinite;
    animation: my 700ms infinite;
}

.box_timeList_table table td {
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5
}

.btn_view {
    width: 135px;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    height: 40px;
    border-radius: 4px;
    background-color: #ff0026;
}

.btn_view i {
    font-family: FontAwesome;
    font-size: 24px;
    font-style: normal;
    vertical-align: -3px
}

.box_titleShow {
    padding: 15px 40px
}

.box_titleShow_t {
    font-size: 24px;
    font-weight: bold;
    width: 50%;
    float: left;
    color: #ffffff;
}

.box_titleShow_r {
    float: left;
    font-size: 16px;
    padding-top: 5px;
    text-align: center;
    color: #ffffff;
}

.box_viewShow {
    background-color: #000
}

.box_viewShow_play {
    width: 70%;
    float: left;
}

.box_viewShow_chat {
    width: 30%;
    float: left;
    background-color: #FFF
}

.box_viewNews_build {
    margin: 0;
    padding: 0
}

.box_viewNews_build_li {
    list-style: none;
    margin-bottom: 50px
}

.t_time a {
    display: none;
}
.t_time_text {
    font-size: 16px;
    font-weight: 300;
    color: rgba(0,0,0,.6);
}

@-webkit-keyframes my {
    0% { background-color: #2ebb2e; }
    50% { background-color: #fff;  }
    100% { background-color: #2ebb2e;  }
}
@-moz-keyframes my {
    0% { background-color: #2ebb2e;  }
    50% { background-color: #fff;  }
    100% { background-color: #2ebb2e;  }
}
@-o-keyframes my {
    0% { background-color: #2ebb2e; }
    50% { background-color: #fff; }
    100% { background-color: #2ebb2e;  }
}
@keyframes my {
    0% { background-color: #2ebb2e;  }
    50% { background-color: #fff;  }
    100% {background-color: #2ebb2e;  }
}


:focus {
	outline: 0
}


#cssLoadingBox .t_time_num,
#cssLoadingBox .t_time_text {
	width: 100px;
	height: 20px
}

#cssLoadingBox .t_time_num {
	width: 100px;
	height: 20px;
	margin-bottom: 5px
}

#cssLoadingBox .t_info .line {
	width: 230px;
	margin-left: 7px
}

#cssLoadingBox .t_btn {
	width: 110px;
	margin-left: 22px
}

#cssLoadingBox .image {
	height: 50px;
	width: 50px;
	margin-left: 10px;
	margin-right: 10px
}

.team-line {
	width: 245px;
	text-align: right
}

.team-line .line {
	height: 50px
}

.time-line {
	width: 200px
}

.time-line .line {
	width: 100px;
	height: 50px
}

.button-line {
	width: 100px;
	margin-left: 100px
}

.button-line .line {
	width: 100px;
	height: 50px
}

.t_time_num_dot_red {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: red;
	border-radius: 50%
}

.t_timeRun .t_time_num.red {
	color: red
}

.t_timeRun .t_time_num .t_time_num_dot {
	background-color: red
}

@-webkit-keyframes myred {
	0% {
		background-color: #2ebb2e
	}
	50% {
		background-color: #fff
	}
	100% {
		background-color: #2ebb2e
	}
}

@-moz-keyframes myred {
	0% {
		background-color: #2ebb2e
	}
	50% {
		background-color: #fff
	}
	100% {
		background-color: #2ebb2e
	}
}

@-o-keyframes myred {
	0% {
		background-color: #2ebb2e
	}
	50% {
		background-color: #fff
	}
	100% {
		background-color: #2ebb2e
	}
}

@keyframes myred {
	0% {
		background-color: #2ebb2e
	}
	50% {
		background-color: #fff
	}
	100% {
		background-color: #2ebb2e
	}
}

.box_detail_ht_line_bg.red {
	background-color: red;
	padding: 2px 5px;
	font-size: 16px;
	color: #fff;
	text-align: center
}



#turnOffChat {
	margin-left: 10px
}

#loadingPlayer {
	height: 480px!important
}

.box_detail_content_title h2 {
	font-size: 25px;
	font-weight: 700
}

.box_detail_content_title_des_table td {
	font-size: 15px;
	padding: 7px 12px
}

.container {
	position: relative
}
.box_timeList_title.active .ic_expandarrow {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}



@media (min-width:576px) {
	.d-sm-block {
		display: block!important
	}
}

@media (min-width:576px) {
	.adsMobile {
		display: none
	}
}



em {
	display: block
}

.box_detail_banner .banner {
	width: 49%;
	height: 90px
}

.box_detail_banner .left {
	float: left
}

.box_detail_banner .right {
	float: left
}

h1.livenow {
	text-align: center;
	color: #fff;
	margin-top: 15px;
	font-weight: 700;
	text-transform: uppercase
}

@media only screen and (min-width:480px) {
	.box_detail_banner .show-ads-banner img,
	.center-banners .show-ads-banner img {
		height: 60px;
		width: 100%
	}
	.box_detail_banner .show-ads-banner.center-list img,
	.center-banners .show-ads-banner.center-list img {
		height: 100%
	}
}

.contentseo {
	overflow: auto;
	background-color: #fff;
	padding: 20px
}

.left-banners img,
.right-banners img {
	width: auto
}

.center-banners .mb-3,
.my-3 {
	margin-bottom: .4rem!important
}

