.box_detail_header {
    background-color: rgba(255,255,255,.1);
    padding: 30px 70px;
    margin: 25px 0 10px;
    display: flex;
    flex-direction: column;
}
.box_detail_ht_doi {
    float: left;
    width: calc(50% - 45px);
}
.box_detail_ht_line {
    float: left;
    width: 90px;
}
.alignRight {
    text-align: right;
}
.box_detail_ht_doi_img {
    background-color: #fff;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    text-align: center;
    line-height: 128px;
    float: left;
}
.box_detail_ht_doi_img img {
    display: inline-block;
    width: 90px;
}
.box_detail_ht_doi_info {
    width: calc(100% - 158px);
    float: left;
    margin-right: 15px;
    margin-left: 15px;
}
.box_detail_ht_doi_info_t {
    font-size: 24px;
    color: #fff;
    line-height: 40px;
    font-weight: 600;
}
.box_detail_ht_doi_info_n {
    font-size: 20px;
    color: #fff;
}
.box_detail_ht_line_num {
    font-size: 48px;
    padding: 30px 0 15px;
    color: #fff;
    line-height: 28px;
    font-weight: 600;
}
.box_detail_ht_line_bg {
    background-color: #2ebb2e;
    padding: 2px 5px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.box_detail_ht_doi_info_tMobile {
    display: none;
}
.box_detail_header_bot_box {
    width: 44%;
    margin: 0 3%;
    float: left;
    color: #fff;
    font-size: 16px;
}
.box_detail_header_bot_box {
    width: 44%;
    margin: 0 3%;
    float: left;
    color: #fff;
    font-size: 16px;
}
.box_detail_header_bot_box span {
    font-weight: 600;
}