.header{background-color: #ff0026;height: 64px}
.menuHeader{float: left;margin: 0;padding: 0}
.menuHeader li{list-style: none;margin-right: 30px;float: left}
.menuHeader li:last-child{margin-right: 0}
.menuHeader li a,.menuRight{display: block;border-bottom: 4px solid transparent;padding: 22px 0 14px;font-size: 16px;font-weight: bold;color: #FFF;text-transform: uppercase}
.menuHeader li a:hover,.menuHeader li a.active{text-decoration: none;border-bottom: 4px solid #FFF}
.menuHeader li:first-child a{padding: 11px 0 6px}
.menuHeader li:first-child a:hover{border: none}
.menuRight{float: right}
.menuHeader a.hot span.hot {
    background-color: #ffeb3c;
    color: #000;
    border-radius: 4px;
    padding: 1px 5px;
    position: absolute;
    top: 6px;
    right: -20px;
    font-size: 12px;
    text-transform: lowercase;
}
.menuHeader a.hot {
    position: relative;
}