@media(max-width:860px){
    .t_time {
        width: 100px;
    }
    .box_timeList_table {
        padding: 0 0px;
    }
    .t_info {
        float: left;
        width: 150px;
    }
    .t_btn {
        float: left;
        width: 135px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        img{
            height: 30px;
        }
    }
}
@media(max-width:480px){
    .logoFull{
        display: none;
    }
    h1.livenow {
        font-size: 25px;
        margin-bottom: 25px;
    }
    .box_timeList_table {
        padding: 0;
    }
    .t_time {
        position: relative;
    }
    .t_time {
        width: 100%;
        margin-bottom: 10px;
        box-shadow: inset 0 -1px 0 0 rgba(221,221,221,.5);
        padding: 0 10px 10px 10px ;
    }
    .t_time_num {
        float: left;
        font-size: 14px;
    }
    .t_time a.redirectB{
        left: -36px;
        right: 36px;
        padding: 0;
        height: 22px;
        line-height: 18px;
    }
    .t_time a.redirectB img {
        width: 34px;
        vertical-align: top;
    }
    .t_time a.redirectA img {
        width: 68px;
        vertical-align: top;
    }
    .t_time a.redirectA {
        left: 36px;
        right: -10px;
    }
    .t_time a {
        display: block;
        margin: 0 auto;
        width: 68px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        font-size: 14px;
    }
    .t_time_text {
        float: right;
        font-size: 14px;
    }
    .t_info {
        width: calc(48% - 49px);
        margin-bottom: 0;
    }
    .t_co {
        border-radius: 50%;
        border: 1px solid #eee;
        padding: 4px;
        width: 44px;
        margin: 0 1%;
    }
    .t_co {
        padding: 6px 0;
    }
    .t_co img {
        width: 30px;
    }
    .t_btn, .t_vs {
        display: none;
    }
    .t_time_text {
        float: right;
        font-size: 14px;
    }
    .t_name {
        height: 44px;
        line-height: 44px;
        font-size: 14px;
    }
    .box_timeList_table_ul li {
        display: table;
        list-style: none;
        padding: 10px 10px;
        border-bottom: 1px solid #e5e5e5;
        width: 100%;

    }
    .box_timeListFull .container, .box_timeListFull .container .col-lg-12 ,.box_timeList .container .col-lg-12 {
        padding: 0;
    }
    .box_detail_banner_left{width: 100%;margin-bottom: 15px}
    .box_detail_banner{margin-bottom: 0}
    .box_detail_content{width: 100%}

    .box_detail_header{padding: 0 15px;background-color: transparent}
    .box_detail_banner{padding: 0 15px}
    .box_detail_ht_doi_img{width: 60px;height: 60px;line-height: 60px}
    .box_detail_ht_doi_img img{width: 40px}
    .box_detail_ht_doi_info{width: 100%;margin: 0}
    .box_detail_ht_doi_info_n,.box_detail_header_bot{display: none}
    .box_detail_ht_doi_info_t{height: 35px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 16px}
    .box_detail_ht_doi_info_tMobile{display: table;width: 100%}
    .box_detail_ht_doi_info_tNoMobile{display: none}
    .box_detail_ht_doi_imgFr{float: right}
    .box_detail_ht_line_num{font-size: 32px;padding: 10px 0;text-align: center}
    .box_detail_video_left{width: 100%;}
    .box_detail_video_right,.box_detail_button{display: none}
    .box_detail_video_lm li a{font-size: 14px;line-height: normal;padding: 10px}
    .box_detail_video_leftMenu{height: auto}
    .box_detail_content_table td{padding: 8px 20px}
    .box_detail_content_title{padding: 0 15px}
    .contentTab{padding: 15px 0}
    .boxDetailNew .container,.boxDetailNew .container .col-lg-12{padding: 0;}
    .boxDetailNew .row{margin: 0;}
    .box_detail_content_title_des{padding: 8px 15px;margin: 20px 0}
    .box_detail_content_title_des_center_t{font-size: 14px}
    .box_detail_content_title_des_center_n{font-size: 16px}
    .box_detail_content_title_des_left img{width: 45px !important;}
    .box_detail_content_title_des_dau{padding: 0 15px}
    .box_detail_content_title_des_center ul li{margin: 0 10px}
    .box_detail_content_title_des_table{width: 100%}
    .inlineText{display: block;margin: 0}
    .tabelhidden{display: none}
    .box_detail_content_title_des_dau.box_detail_content_title_des_dau_menu{text-align: center}
    .box_detail_content_title_des_dau.box_detail_content_title_des_dau_menu .box_detail_content_title_des_left{float: none;display: inline-block;margin: 0 15px;border-bottom: 4px solid transparent;padding-bottom: 15px;margin-bottom: 15px}
    .box_detail_content_title_des_dau.box_detail_content_title_des_dau_menu .box_detail_content_title_des_left.active{border-bottom: 4px solid #ff0026}
    .box_detail_video_text{
        line-height: 20px;
        padding: 5px 20px;
    }

}