.box_home_build {
    margin-bottom: 50px;
}
.box_home_build_img {
    margin-bottom: 10px;
    display: block;
}
.box_home_build_img img {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box_home_build_name {
    margin: 0;
    padding: 0;
    display: block;
}
.box_home_build_name a {
    display: block;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 25px;
    line-height: 25px;
    color: #fff;
}
.box_home_build_name a {
    color: #ffed1b;
}
.box_home_build_note {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 25px;
    line-height: 25px;
    color: #fff;
}
.tieude{
    color: #fff;
}
.pagging {
    margin: 20px auto;
    padding: 0;
    text-align: center;
}
.pagging li {
    list-style: none;
    display: inline-block;
    margin: 0 4px;
}
.pagging li a {
    display: block;
    width: 24px;
    height: 24px;
    line-height: 22px;
    text-align: center;
    border-radius: 4px;
    border: solid 1px #dee3ed;
    font-size: 14px;
    color: #fff;
}
.pagging li:first-child a, .pagging li:last-child a {
    font-family: FontAwesome;
    font-size: 18px;
    border-color: transparent;
}
.pagging li a.active, .pagging li a:hover {
    background-color: #fff;
    color: #0c112d;
}
.hidden{
    display: none !important;
}