html{
    overflow-x:hidden;
}
body {
    background: #0d112d;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 400;
    color: #333;
    font-size: 14px;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
.w-100{
    width: 100%;
}
h1.livenow {
    text-align: center;
    color: #fff;
    margin-top: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2.1rem;
}
.box_calender input {
    width: 270px;
    height: 44px;
    background-color: #FFF;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    border: none;
    color: #2b315d;
    padding: 0 60px 0 15px;
    background: #FFF url(../images/v3/calendar.jpg) no-repeat right 15px center;
    background-repeat: no-repeat;
    background-size: 28px auto;
}
.box_calender {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.box_detail_banner .show-ads-banner img,
.center-banners .show-ads-banner img {
    height: 35px;
    width: 100%
}
.box_detail_banner .show-ads-banner.center-list img,
.center-banners .show-ads-banner.center-list img {
    height: 100%
}
.center-banners .col-12 {
    margin-bottom: 7px!important
}
.show-ads-banner {
	position: relative
}

.adsMobile .adsballon {
	bottom: 0;
	z-index: 99999;
	left: 0;
	width: 100%;
	max-height: 240px
}

.adsballon.mobile img {
	height: 45px;
	margin-top: 7px;
	width: 100%!important
}

.adsMobile .close-ads {
	display: block;
	top: -14%;
	width: 40px;
	height: 24px;
	line-height: 1.1;
	background: rgba(71, 71, 71, .86);
	color: #f2f2f2;
	font-weight: 600
}

.close-ads {
	position: absolute;
	right: -8px;
	background: #efefef;
	width: 28px;
	height: 28px;
	text-align: center;
	top: -11px;
	font-size: 17px;
	cursor: pointer
}

.show-ads-banner {
	position: relative
}

.mb-3,
.my-3 {
	margin-bottom: 1rem!important
}

.position-fixed {
	position: fixed!important
}

.left-banners .adsballon {
	left: 0;
	bottom: 0;
	z-index: 99999
}

.right-banners .adsballon {
	right: 0;
	bottom: 0;
	z-index: 99999
}

.left-banners {
	position: fixed;
	top: 80px;
	right: 50%;
	margin-right: 564px;
	bottom: 0;
	z-index: 99
}

.right-banners {
	position: fixed;
	top: 80px;
	left: 50%;
	margin-left: 566px;
	bottom: 0;
	z-index: 99
}
.left-banners.sticky{
    top: 20px;
}
.right-banners.sticky{
    top: 20px;
}

.box_noti {
    margin-top: 0;
}

.box_noti {
    margin: 25px 0;
    background-color: rgba(255,255,255,.06);
    padding: 15px;
    display: flex;
}
.box_noti_text {
    float: right;
    width: calc(100% - 40px);
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}
.box_noti_icon {
    float: left;
    font-family: FontAwesome;
    color: #fff;
    font-size: 22px;
    width: 25px;
}
.close-ads{
    border-radius: 50%;
}
