<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <title>Home</title>
  <!-- build:css ./assets/styles/style.css -->

  <!-- bower:css -->
  <!-- endbower -->
  <link href="./assets/styles/layout.css" rel="stylesheet">
  <link href="/node_modules/jquery-datetimepicker/jquery.datetimepicker.css" rel="stylesheet">
  <link href="./assets/styles/style.css" rel="stylesheet">
  <!-- endbuild -->

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&amp;subset=latin-ext,vietnamese"
    rel="stylesheet">

</head>

<body class="{{bodyClasses}}">
  <header>
    {% include "./components/navbar.njk" %}
  </header>
  <main>
    {% include "./components/ads.njk" %}
    {% include "./components/noti.njk" %}
    <div class="container">
        {% include "./components/header.njk" %}
    </div>
    <div class="box_timeList">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
              {% include "./components/header_list.njk" %}
              <div id="tlTable1" class="box_timeList_table">
                <ul class="box_timeList_table_ul">
                  {% include "./components/content_list.njk" %}
                  {% include "./components/content_banner_list.njk" %}
                  
                </div>
              </div>
          </div>
        </div>
      </div>
    <div>
    <div class="container">
        {% include "./components/contentseo.njk" %}
    </div>
  </main>
  <!-- build:js ./assets/scripts/vendor.js -->
  <!-- bower:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/popper.js/dist/umd/popper.js"></script>
  <script src="/bower_components/bootstrap/js/dist/modal.js"></script>
  <script src="/node_modules/jquery-datetimepicker/build/jquery.datetimepicker.full.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js ./assets/scripts/main.js -->
  <script src="./assets/scripts/main.js"></script>
  <!-- endbuild -->

</body>

</html>
