<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <title>Video</title>
  <!-- build:css ./assets/styles/style.css -->

  <!-- bower:css -->
  <!-- endbower -->
  <link href="./assets/styles/layout.css" rel="stylesheet">
  <link href="/node_modules/jquery-datetimepicker/jquery.datetimepicker.css" rel="stylesheet">
  <link href="./assets/styles/style.css" rel="stylesheet">
  <!-- endbuild -->

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&amp;subset=latin-ext,vietnamese"
    rel="stylesheet">

</head>

<body class="{{bodyClasses}}">
  <header>
    {% include "./components/navbar.njk" %}
  </header>
  <main>
    {% include "./components/ads.njk" %}
    {% include "./components/breadcrumb.njk" %}
    <div class="container">
    <h1 class="tieude">Highlight bóng đá - Video bóng đá 24h mới nhất hôm nay</h1>
        <div class="row">
            {% include "./components/itemvideo.njk" %}
            {% include "./components/itemvideo.njk" %}
            {% include "./components/itemvideo.njk" %}
            {% include "./components/itemvideo.njk" %}
            {% include "./components/itemvideo.njk" %}
            {% include "./components/itemvideo.njk" %}
            {% include "./components/itemvideo.njk" %}
            {% include "./components/itemvideo.njk" %}
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="pagging">
                    <li class=" active " aria-label="Previous"><a class=" active " href="javascript:void(0)">«</a></li>
                    <li class=" active " aria-label="Previous"><a class=" active " href="javascript:void(0)">‹</a></li>
                    <li data-page="0" class="active"><a class="active" href="javascript:void(0)">1</a></li>
                    <li data-page="1" class=""><a class="" href="//ngoac.tv/highlight.html?page=2">2</a></li>
                    <li data-page="2" class=""><a class="" href="//ngoac.tv/highlight.html?page=3">3</a></li>
                    <li data-page="3" class=""><a class="" href="//ngoac.tv/highlight.html?page=4">4</a></li>
                    <li class="active"><a href="javascript:void(0)">...</a></li>
                    <li data-page="37"><a href="//ngoac.tv/highlight.html?page=38">38</a></li>
                    <li data-page="1" class="" aria-label="Previous"><a class="" href="//ngoac.tv/highlight.html?page=2">› </a></li>
                    <li data-page="38" class="" aria-label="Previous"><a class="" href="//ngoac.tv/highlight.html?page=38">» </a></li>
                </ul>
            </div>
        </div>
        <div class="highlights">
                <p>Tổng hợp các pha highlight bóng đá - xem lại bóng đá nhanh nhất được cập nhật liên tục những video bóng đá hot nhất, pha ghi bàn đỉnh cao của các cầu thủ...</p>
            </div>
    </div>
  </main>
  <!-- build:js ./assets/scripts/vendor.js -->
  <!-- bower:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/popper.js/dist/umd/popper.js"></script>
  <script src="/bower_components/bootstrap/js/dist/modal.js"></script>
  <script src="/node_modules/jquery-datetimepicker/build/jquery.datetimepicker.full.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js ./assets/scripts/main.js -->
  <script src="./assets/scripts/main.js"></script>
  <!-- endbuild -->

</body>

</html>
