<div class="container">
    <div class="left-banners d-none d-sm-block">
        <div class="mb-3 show-ads-banner">
            <span class="close-ads">x</span>
            <a rel="nofollow" href="https://www.zbet.com/?utm_source=ngoac.tv&amp;utm_medium=Float_Left_120x300&amp;utm_campaign=Home" target="_blank" title="">
                <img class="lazy " src="https://media.giphy.com/media/cLNVwAlvSTz0gDlYzx/giphy.gif" title="" alt="ngoac.tv" style="">
            </a>
        </div>
        <div class="mb-3 show-ads-banner">
            <span class="close-ads">x</span>
            <a rel="nofollow" href="https://www.zbet.com/?utm_source=ngoac.tv&amp;utm_medium=Float_Left_540x76_1&amp;utm_campaign=CPD&amp;utm_content=Home" target="_blank" title="">
                <img class="lazy " src="https://media.giphy.com/media/cLNVwAlvSTz0gDlYzx/giphy.gif" title="" alt="ngoac.tv" style="">
            </a>
        </div>
        <!-- C1 -->
        <div class="position-fixed d-none d-sm-block adsballon show-ads-banner">
        <span class="close-ads">x</span>
            <a rel="nofollow" href="https://five88.com/register.aspx?utm_source=ngoac.tv&amp;utm_mediu=ballonleft" target="_blank" title="">
                <img class="lazy " src="https://media.giphy.com/media/H7qBkU7GFhJqkFzPBV/giphy.gif" title="" alt="ngoac.tv" style="">
            </a>
        </div>
    </div>
    <div class="right-banners d-none d-sm-block">
        <div class="mb-3 show-ads-banner">
            <a rel="nofollow" href="https://refpaqutiu.top/L?tag=d_246789m_19559c_banner_580x70_desktop&amp;site=246789&amp;ad=19559" target="_blank" title="">
                <img class="lazy " src="https://media.giphy.com/media/d7ZqR0Iz9vmxRFUX1y/giphy.gif" title="" alt="ngoac.tv" style="">
            </a>
        </div>
        <div class="mb-3 show-ads-banner">
            <a rel="nofollow" href="https://www.zbet.com/?utm_source=ngoac.tv&amp;utm_medium=Float_Right_540x76_1&amp;utm_campaign=CPD&amp;utm_content=Home" target="_blank" title="">
                <img class="lazy " src="https://media.giphy.com/media/cLNVwAlvSTz0gDlYzx/giphy.gif" title="" alt="ngoac.tv" style="">
            </a>
        </div>
        <!-- C1 -->
        <div class="position-fixed d-none d-sm-block adsballon show-ads-banner"><span class="close-ads">x</span>
            <a rel="nofollow" href="https://www.mibet88.com/reg_account.php?utm_source=ngoac.tv&amp;utm_medium=ballonright" target="_blank" title="">
                <img class="lazy " src="https://media.giphy.com/media/2dpg0JpoQIAI5TWI5Y/giphy.gif" title="" alt="ngoac.tv" style="">
            </a>
        </div>
    </div>
    <div class="adsMobile">
        <div class="position-fixed d-sm-block adsballon mobile">
            <div class="show-ads-banner"><span class="close-ads">x</span><span class="close-ads">x</span><span class="close-ads">x</span><span class="close-ads">x</span><span class="close-ads">x</span>
                <a rel="nofollow" href="https://m.lucky88.com/?utm_source=ngoac.tv&amp;utm_medium=m-catfish" target="_blank" title="">
                    <img class="lazy w-100" src="https://media.giphy.com/media/W3a83iVMRh2EDacfIj/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
                <a rel="nofollow" href="https://sun.win/?utm_source=ngoac.tv&amp;utm_medium=catfishmobi&amp;utm_campaign=Hee&amp;utm_content=affiliate&amp;id_aff=357&amp;re=1" target="_blank" title="">
                    <img class="lazy w-100" src="https://media.giphy.com/media/U2F3oMjFJ9gLsPoKd4/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
                <a rel="nofollow" href="https://one88.fun/vi/khuyen-mai.aspx?utm_source=Ngoac.tv&amp;utm_medium=banner&amp;utm_campaign=Ngoac.tv.m-catfish.570x60" target="_blank" title="">
                    <img class="lazy w-100" src="https://media.giphy.com/media/1fiaEAElf44WqnUgWq/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
                <a rel="nofollow" href="http://www.sbbanner.com/newmedia/index.html?vendorid=11739&amp;vendortype=2&amp;lang=VI" target="_blank" title="">
                    <img class="lazy w-100" src="https://media.giphy.com/media/KbH6TAjl8r38IBVHF3/giphy.gif" title="" alt="188BET, cá độ bóng đá, nhà cái uy tín" style="">
                </a>
                <a rel="nofollow" href="https://nhatvip.net/#utm_source=Ngoac.tv&amp;utm_campaign=Ngoac.tv.m-catfish.570x60" target="_blank" title="">
                    <img class="lazy w-100" src="https://media.giphy.com/media/fSdJZHH0ZwPjbbhs6I/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
            </div>
        </div>
    </div>
    <div class="row center-banners">
        <div class="col-12 col-sm-6 mb-3">
            <div class="show-ads-banner">
                <a rel="nofollow" href="https://www.zbet.com/?utm_source=ngoac.tv&amp;utm_medium=TopBanner_540x76_1&amp;utm_campaign=CPD&amp;utm_content=Home" target="_blank" title="">
                    <img class="lazy w-100" width="570px" height="60px" src="https://media.giphy.com/media/lPdtYQazqybCxfLESk/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <div class="show-ads-banner">
                <a rel="nofollow" href="https://www.zbet.com/?utm_source=ngoac.tv&amp;utm_medium=TopBanner_540x76_2&amp;utm_campaign=CPD&amp;utm_content=Home" target="_blank" title="">
                    <img class="lazy w-100" width="570px" height="60px" src="https://media.giphy.com/media/lPdtYQazqybCxfLESk/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <div class="show-ads-banner">
                <a rel="nofollow" href="https://www.zbet.com/?utm_source=ngoac.tv&amp;utm_medium=TopBanner_540x76_3&amp;utm_campaign=CPD&amp;utm_content=Home" target="_blank" title="">
                    <img class="lazy w-100" width="570px" height="60px" src="https://media.giphy.com/media/lPdtYQazqybCxfLESk/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <div class="show-ads-banner">
                <a rel="nofollow" href="https://www.zbet.com/?utm_source=ngoac.tv&amp;utm_medium=TopBanner_540x76_4&amp;utm_campaign=CPD&amp;utm_content=Home" target="_blank" title="">
                    <img class="lazy w-100" width="570px" height="60px" src="https://media.giphy.com/media/lPdtYQazqybCxfLESk/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <div class="show-ads-banner">
                <a rel="nofollow" href="https://www.zbet.com/?utm_source=ngoac.tv&amp;utm_medium=TopBanner_540x76_5&amp;utm_campaign=CPD&amp;utm_content=Home" target="_blank" title="">
                    <img class="lazy w-100" width="570px" height="60px" src="https://media.giphy.com/media/lPdtYQazqybCxfLESk/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <div class="show-ads-banner">
                <a rel="nofollow" href="https://www.zbet.com/?utm_source=ngoac.tv&amp;utm_medium=TopBanner_540x76_6&amp;utm_campaign=CPD&amp;utm_content=Home" target="_blank" title="">
                    <img class="lazy w-100" width="570px" height="60px" src="https://media.giphy.com/media/lPdtYQazqybCxfLESk/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <div class="show-ads-banner">
                <a rel="nofollow" href="https://www.zbet.com/?utm_source=ngoac.tv&amp;utm_medium=TopBanner_540x76_7&amp;utm_campaign=CPD&amp;utm_content=Home" target="_blank" title="">
                    <img class="lazy w-100" width="570px" height="60px" src="https://media.giphy.com/media/lPdtYQazqybCxfLESk/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <div class="show-ads-banner">
                <a rel="nofollow" href="https://www.zbet.com/?utm_source=ngoac.tv&amp;utm_medium=TopBanner_540x76_8&amp;utm_campaign=CPD&amp;utm_content=Home" target="_blank" title="">
                    <img class="lazy w-100" width="570px" height="60px" src="https://media.giphy.com/media/lPdtYQazqybCxfLESk/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <div class="show-ads-banner">
                <a rel="nofollow" href="https://11bet.net/?utm_source=ngoac.tv&amp;utm_medium=m-topbanner&amp;utm_campaign=jimmy" target="_blank" title="Nhà cái cá cược bóng đá 11Bet">
                    <img class="lazy w-100" width="570px" height="60px" src="https://media.giphy.com/media/xFmq1bnqzdvheezBvZ/giphy.gif" title="Nhà cái cá cược bóng đá 11Bet" alt="Nhà cái cá cược thể thao 11Bet" style="">
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <div class="show-ads-banner">
                <a rel="nofollow" href="https://sun.win/?utm_source=ngoac.tv&amp;utm_medium=m-topbanner&amp;utm_campaign=Hee&amp;utm_content=affiliate&amp;id_aff=357&amp;re=1" target="_blank" title="">
                    <img class="lazy w-100" width="570px" height="60px" src="https://media.giphy.com/media/dXuytE7sHXvHf3rKUn/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <div class="show-ads-banner">
                <a rel="nofollow" href="https://cacuoc247.com/" target="_blank" title="">
                    <img class="lazy w-100" width="570px" height="60px" src="https://media.giphy.com/media/fUAVA2wxMMrrzZOVZF/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <div class="show-ads-banner">
                <a rel="nofollow" href="https://bong90.com/?utm_medium=xoactvt" target="_blank" title="">
                    <img class="lazy w-100" width="570px" height="60px" src="https://media.giphy.com/media/fYldcY2gLeaRrCtxC7/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <div class="show-ads-banner">
                <a rel="nofollow" href="http://ad.8live.com/lng/vn/?utm_source=ngoac.tv&amp;utm_medium=topbanner&amp;utm_campaign=david" target="_blank" title="">
                    <img class="lazy w-100" width="570px" height="60px" src="https://media.giphy.com/media/1zRbhQrkUfoy4BLM3C/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <div class="show-ads-banner">
                <a rel="nofollow" href="http://c.bong99.com/?utm_source=ngoac.tv&amp;utm_medium=topbanner&amp;utm_campaign=david" target="_blank" title="">
                    <img class="lazy w-100" width="570px" height="60px" src="https://media.giphy.com/media/551GjRIjv6sJtLtMSN/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <div class="show-ads-banner">
                <a rel="nofollow" href="https://gamezo.win/?utm_source=ngoac.tv&amp;utm_medium=mobiletop&amp;utm_campaign=ken&amp;re=1" target="_blank" title="">
                    <img class="lazy w-100" width="570px" height="60px" src="https://media.giphy.com/media/cPkusIWH80Xb5biNVK/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <div class="show-ads-banner">
                <a rel="nofollow" href="https://bit.ly/ngoactv2" target="_blank" title="">
                    <img class="lazy w-100" width="570px" height="60px" src="https://media.giphy.com/media/Kd5vksDSWGp6WlMy0u/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <div class="show-ads-banner">
                <a rel="nofollow" href="https://bit.ly/ngoac777" target="_blank" title="">
                    <img class="lazy w-100" width="570px" height="60px" src="https://media.giphy.com/media/gHznsVMn5vNYRUVIAV/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <div class="show-ads-banner">
                <a rel="nofollow" href="https://bit.ly/2ZAU5bo" target="_blank" title="">
                    <img class="lazy w-100" width="570px" height="60px" src="https://media.giphy.com/media/KHVDmrxc9rCzyOzfme/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <div class="show-ads-banner">
                <a rel="nofollow" href="http://kimsavn.com/ngoac.tv.html" target="_blank" title="">
                    <img class="lazy w-100" width="570px" height="60px" src="https://media.giphy.com/media/h2MtPBrWEHbOG4Mpa3/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <div class="show-ads-banner">
                <a rel="nofollow" href="https://3kbets.com/?ref=ngoactv" target="_blank" title="">
                    <img class="lazy w-100" width="570px" height="60px" src="https://media.giphy.com/media/J4aZHWaaRtpOzQAwQ2/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
            </div>
        </div>
    </div>
</div>