<li>
    <div class="row center-banners center">
        <div class="col-12 col-sm-12 mb-12">
            <div class="show-ads-banner center-list">
                <a rel="nofollow" href="https://www.zbet.com/?utm_source=ngoac.tv&amp;utm_medium=midbanner_540x76&amp;utm_campaign=CPD&amp;utm_content=Home" target="_blank" title="">
                    <img class="lazy w-100" src="http://media.dabong247.com/ads/1100x200_zbet.gif" title="" alt="ngoac.tv" style="">
                </a>
            </div>
        </div>
    </div>
</li>