<li class="showTisoReposive">
    <div class="t_time t_timeRun">
        <div class="t_time_num"><i class="t_time_num_dot"></i>&nbsp;&nbsp;71'</div>
        <a class="redirectB" href="#" rel="nofollow" target="_blank">
            <img src="./assets/images/bet-football2.png" alt="Live"></a>
        <a class="redirectA" target="_blank" data-href="#" href="#" rel="nofollow">
            <img src="./assets/images/live-football.jpg" alt="Live">
        </a>
        <div class="t_time_text">Division Intermedia - Paraguay</div>
    </div>

    <div class="t_info">
        <a class="t_name alignRight" href="#">
            Crystal Palace
        </a>
    </div>
    <div class="t_co">
        <img src="./assets/images/flag/Perugia.png" width="45"/>
    </div>
    <div class="t_vs t_vs_num">
        3-0
    </div>
    <div class="t_co">
        <img src="./assets/images/flag/Udinese.png" width="45"/>
    </div>
    <div class="t_info">
        <a class="t_name" href="#">
            Manchester United
        </a>
    </div>

    <div class="t_btn">
        <a class="redirectB" href="#" rel="nofollow" target="_blank">
            <img src="./assets/images/bet-football2.png" alt="Live"></a>
        <a class="redirectA" target="_blank" data-href="#" href="#" rel="nofollow">
            <img src="./assets/images/live-football.jpg" alt="Live">
        </a>
    </div>
    <div class="clearfix"></div>
</li>
<li class="active">
    <div class="t_time">
        <div class="t_time_num">21:00</div>
        <a class="redirectB" href="#" rel="nofollow" target="_blank">
            <img src="./assets/images/bet-football2.png" alt="Live"></a>
        <a class="redirectA" target="_blank" data-href="#" href="#" rel="nofollow">
            <img src="./assets/images/live-football.jpg" alt="Live">
        </a>
        <div class="t_time_text">Premier League</div>
    </div>

    <div class="t_info">
        <a class="t_name alignRight" href="#">
            Crystal Palace
        </a>
    </div>
    <div class="t_co">
        <img src="./assets/images/flag/Perugia.png" width="45"/>
    </div>
    <div class="t_vs">
        vs
    </div>
    <div class="t_co">
        <img src="./assets/images/flag/Udinese.png" width="45"/>
    </div>
    <div class="t_info">
        <a class="t_name" href="#">
            Manchester United
        </a>
    </div>

    <div class="t_btn">
        <a class="redirectB" href="#" rel="nofollow" target="_blank">
            <img src="./assets/images/bet-football2.png" alt="Live"></a>
        <a class="redirectA" target="_blank" data-href="#" href="#" rel="nofollow">
            <img src="./assets/images/live-football.jpg" alt="Live">
        </a>
    </div>
    <div class="clearfix"></div>
</li>
<li>
    <div class="t_time">
        <div class="t_time_num"><i class="t_time_num_dot"></i>&nbsp;&nbsp;Sắp bắt đầu</div>
        <a class="redirectB" href="#" rel="nofollow" target="_blank">
            <img src="./assets/images/bet-football2.png" alt="Live"></a>
        <a class="redirectA" target="_blank" data-href="#" href="#" rel="nofollow">
            <img src="./assets/images/live-football.jpg" alt="Live">
        </a>
        <div class="t_time_text">Premier League</div>
    </div>

    <div class="t_info">
        <a class="t_name alignRight" href="#">
            Crystal Palace
        </a>
    </div>
    <div class="t_co">
        <img src="./assets/images/flag/Perugia.png" width="45"/>
    </div>
    <div class="t_vs">
        vs
    </div>
    <div class="t_co">
        <img src="./assets/images/flag/Udinese.png" width="45"/>
    </div>
    <div class="t_info">
        <a class="t_name" href="#">
            Manchester United
        </a>
    </div>

    <div class="t_btn">
        <a class="redirectB" href="#" rel="nofollow" target="_blank">
            <img src="./assets/images/bet-football2.png" alt="Live"></a>
        <a class="redirectA" target="_blank" data-href="#" href="#" rel="nofollow">
            <img src="./assets/images/live-football.jpg" alt="Live">
        </a>
    </div>
    <div class="clearfix"></div>
</li>