<div class="container">
    <h1 class="livenow" id="truc-tiep">TRỰC TIẾP BÓNG ĐÁ HÔM NAY -  XEM BÓNG ĐÁ TRỰC TUYẾN</h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="box_calender">
                    <input type="text" id="datetimepicker" value="" >
                </div>
            </div>
            
            <div class="clearfix"></div>
        </div>
    </div>
</div>