<div class="box_detail_video">
    <div class="box_detail_video_left">
        <div>
            <img src="./assets/images/player.jpg" width="100%">
        </div>
        <div class="box_detail_video_leftMenu alignRight">
            <div class="box_detail_video_text">
                <div class="hidden sharethis-inline-share-buttons st-center st-has-labels  st-inline-share-buttons st-animated" data-url="https://ngoac.tv/truc-tiep/la-galaxy-vs-sporting-kc-cprERN397.html" id="st-1">
                    <div class="st-total ">
                        <span class="st-label">47</span>
                        <span class="st-shares">
                            Shares
                        </span>
                    </div>
                    <div class="st-btn st-first st-last" data-network="facebook" style="display: inline-block;">
                        <img src="https://platform-cdn.sharethis.com/img/facebook.svg">
                        <span class="st-label">Share</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>