<div class="col-lg-3 col-md-6">
    <div class="box_home_build">
        <a class="box_home_build_img" href="//ngoac.tv/highlight/highlight-bayern-mnchen-vs-eintracht-frankfurt-pjdWVH751.html">
            <img style="background-image: url(//1107942067.rsc.cdn77.org/UpFiles/2019/5/18/42/97831/0.png);width: 100%;" height="165" src="//1107942067.rsc.cdn77.org/UpFiles/2019/5/18/42/97831/0.png" alt=" 5 - 1 ">
        </a>
        <h3 class="box_home_build_name">
            <a href="//ngoac.tv/highlight/highlight-bayern-mnchen-vs-eintracht-frankfurt-pjdWVH751.html">
                Bayern München 5 - 1 Eintracht Frankfurt                                        </a>
        </h3>
        <div class="box_home_build_note">Bundesliga - Thứ bảy, 18-05-2019</div>
    </div>
</div>