<div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="menuHeader">
                        <li>
                            <a href="#">
                                <img class="logoFull" width="170" src="./assets/images/logo.png"/>
                            </a>
                        </li>
                        <li>
                            <a class="active hot" href="#">Trực tiếp
                                <span class="hot">hot</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">Xem lại</a>
                        </li>
                        <li>
                            <a href="#">Lịch thi đấu</a>
                        </li>
                    </ul>
                 
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>