<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="box_noti">
                <div class="box_noti_icon"></div>
                <div class="box_noti_text">
                    <p>Bạn đang cần một link xem <strong>bóng đá trực tuyến</strong> tốt nhất với tiêu chí không giật,lag trên thiết bị của bạn thì NGOAC.TV là sự lựa chọn hàng đầu mà không cần phải suy nghĩ.</p>
                    <p>Chúng tôi sẽ cập nhật đầy đủ link xem <strong>trực tiếp bóng đá</strong> sớm nhất (trước 1,5 giờ bắt đầu trận đấu), để bạn không khỏi các trận cầu hay đáng chú ý.</p>
                    <p>Đặc biệt website chúng tôi còn có ghi lại và cung cấp các video xem lại highlight bóng đá từ các giải đấu bóng đá hàng đầu thế giới nhanh và mới nhất hiện nay.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>