@mixin make-font-face($file, $name, $weight: normal, $style: normal) {
  @font-face {
    font-family: $name;
    src: url("#{$font-path}/#{$file}.woff") format("woff");
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin make-font-face-otf($file, $name, $weight: normal, $style: normal) {
  @font-face {
    font-family: $name;
    src: url("#{$font-path}/#{$file}.otf") format("opentype");
     
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin make-font-face-ttf($file, $name, $weight: normal, $style: normal) {
  @font-face {
    font-family: $name;
    src: url("#{$font-path}/#{$file}.ttf") format("opentype");
    font-weight: $weight;
    font-style: $style;
  }
}
