<div class="box_detail_banner">
    <div class="row">
        <div class="col-12 col-sm-6 mb-3">
            <div class="show-ads-banner">
                <a rel="nofollow" href="https://www.lucky88.com/?utm_source=ngoac.tv&amp;utm_medium=player" target="_blank" title="">
                    <img class="lazy w-100" src="https://media.giphy.com/media/JTJ3cEnu0dVpHQdSDw/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <div class="show-ads-banner">
                <a rel="nofollow" href="http://3kbets.com/?ref=ngoactv" target="_blank" title="">
                    <img class="lazy w-100" src="https://media.giphy.com/media/J4aZHWaaRtpOzQAwQ2/giphy.gif" title="" alt="ngoac.tv" style="">
                </a>
            </div>
        </div>
    </div>
</div>