<div class="box_detail_header">
    <div class="box_detail_header_top">
        <div class="box_detail_ht_doi">
            <div class="box_detail_ht_doi_img">
                <img src="./assets/images/flag/Perugia.png">
            </div>
            <div class="box_detail_ht_doi_info">
                <div class="box_detail_ht_doi_info_t">Real Madrid</div>
                <div class="box_detail_ht_doi_info_n">HLV: Mourinho</div>
                <div class="box_detail_ht_doi_info_n">4-4-2</div>
            </div>
        </div>
        <div class="box_detail_ht_line">
            <div class="box_detail_ht_line_num">3 - 3</div>
            <div class="box_detail_ht_line_bg">
                Phút 88
            </div>
        </div>
        <div class="box_detail_ht_doi alignRight">
            <div class="box_detail_ht_doi_info box_detail_ht_doi_info_tNoMobile">
                <div class="box_detail_ht_doi_info_t">Real Madrid</div>
                <div class="box_detail_ht_doi_info_n">HLV: Mourinho</div>
                <div class="box_detail_ht_doi_info_n">4-4-2</div>
            </div>
            <div class="box_detail_ht_doi_img box_detail_ht_doi_imgFr">
                <img src="./assets/images/flag/Perugia.png">
            </div>
            <div class="box_detail_ht_doi_info_t box_detail_ht_doi_info_tMobile">Real Madrid</div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="box_detail_header_bot">
        <div class="box_detail_header_bot_box alignRight">
            Sân: <span>Goodison park</span>
            <br> Trọng tài: <span>Goodison</span>
        </div>
        <div class="box_detail_header_bot_box">
            Hiệp 1: <span>2-2</span>
            <br> Hiệp 2: <span>3-3</span>
            <br> Hiệp phụ: <span>3-3</span>
            <br> Penalty: <span>3-3</span>
        </div>
        <div class="clearfix"></div>
    </div>
</div>